[Unit]
Description=crai-cgi
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=20

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=@lighttpd@ -D -f @lighttpd.conf@
Restart=always
User=crai

[Install]
WantedBy=multi-user.target
