[Unit]
Description=crai-fastcgi
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=20

[Service]
ExecStart=@crai-fastcgi@ --database=@database@ --fastcgi-socket=@fastcgi-socket@
Restart=always
User=crai

[Install]
WantedBy=multi-user.target
