*
{
    box-sizing: border-box;
}

body
{
    font-family: "Liberation Sans", sans-serif;
    margin: 0;
}

.crai--light
{
    background-color: #FFFFFF;
    color: #222222;
    --primary:   #2E6EA6; --primary-contra:  #FFFFFF;
    --secondary: #F2D3AC;
    --tertiary:  #402414; --tertiary-contra: #FFFFFF;
}

.crai--dark
{
    background-color: #222222;
    color: #DDDDDD;
    --primary:   #402414; --primary-contra:  #DDDDDD;
    --secondary: #2E6EA6;
    --tertiary:  #402414; --tertiary-contra: #DDDDDD;
}

body > nav,
body > header,
body > section,
body > footer
{
    padding: 1.5rem;
}

body > nav > div,
body > header > div,
body > section > div,
body > footer > div
{
    margin: 0 auto;
    max-width: 60rem;
}

body > nav
{
    background-color: var(--secondary);
}

body > nav > div > a
{
    background-image: url("/static/crai.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    display: inline-block;
    height: 48px;
    width: 48px;
}

body > header
{
    background-color: var(--primary);
    color: var(--primary-contra);
}

body > header > div > h1
{
    font-family: "Montserrat", "Liberation Sans", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5em;
}

body > header > div > p
{
    font-size: 1.5rem;
    line-height: 1.5em;
}

body > section > div h2
{
    font-family: "Montserrat", "Liberation Sans", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5em;
}

body > section > div h2:not(:first-child)
{
    margin-top: 1rem;
}

body > section > div p
{
    line-height: 1.5em;
}

body > section > div ul
{
    list-style: square;
    padding-left: 1rem;
}

body > section > div li
{
    line-height: 1.5em;
}

body > section > div .craw--properties > tbody > tr > th
{
    font-weight: bold;
    line-height: 1.5em;
    text-align: left;
    width: 6rem;
}

body > section > div .craw--properties > tbody > tr > td
{
    line-height: 1.5em;
}

body > footer
{
    background-color: var(--tertiary);
    color: var(--tertiary-contra);
}

body > footer > div a
{
    color: inherit;
}

body > footer > div p
{
    line-height: 1.5em;
}
